<button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#newCommentModal">Add new comment</button>
<div class="modal fade" id="newCommentModal" tabindex="-1" role="dialog" aria-labelledby="newCommentModalLabel"
aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newCommentModalLabel">New Comment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/campgrounds/<%=campground._id%>/comments" method="POST" class="form-group">
                    <div class="form-group container py-0">
                        <div class="row">
                            <label for="comment[author]" class="pl-0 col-3 col-form-label">Poster:</label>
                            <input class=" col-9 form-control-plaintext" type="text" value="<%=currentUser.username%>" readonly>
                        </div>
                        <div class="row mt-1">
                            <label for="comment[body]" id="comment[body]-label" class="pl-0 col-3 col-form-label">Comment:</label>
                            <input class="col-9 form-control mt-1" type="text" name="comment[body]" placeholder="Your opinion on this campground" required>
                        </div>
                        <input type="submit" style="display: none">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button class="btn btn-block btn-primary submit" type="submit">Submit</button>
            </div>
        </div>
    </div>
</div>