<%include ../partials/header%>
	<div class="container mt-2">
		<div class="jumbotron">
			<h1>Campgrounds</h1>
			<p>Popular campgrounds in the US</p>
			<form class="form-inline" id="searchForm">
				<div class="form-group">
					<input type="text" name="search" class="form-control" placeholder="Search campgrounds...">
				</div>
			</form>
			<a class="btn btn-primary btn-md mt-3" href="/campgrounds/new">Add new campground</a>
		</div>

		<div class="row d-flex flex-wrap" id="output">
			<%campgrounds.forEach(function(campground){%>
				<div class="col-sm-12 col-md-3">
					<div class="card my-3 text-center">
						<img class="card-img-top" src="<%=campground.image%>" class="img-fluid">
						<hr class="mx-auto">
						<div class="card-body ">
							<h4 class="card-title"><%=campground.name%></h4>
							<a class="card-text btn btn-sm btn-outline-info" href="/campgrounds/<%=campground._id%>" class="btn btn-sm btn-primary">More Info</a>
						</div>
					</div>
				</div>
			<%})%>
		</div>
	</div>
<%include ../partials/footer%>