<%include ../partials/header%>
	<div id="header-background">
		<div class="bg-image"></div>
		<div class="container py-2">
			<div class="header-content my-5 pt-2">
				<h1><i class="fas fa-campground"></i> Campgrounds</h1>
				<p>Popular campgrounds in the US</p>
				<form class="form-inline" id="searchForm">
					<div class="form-group">
						<input type="text" name="search" class="form-control" placeholder="Search campgrounds...">
					</div>
				</form>
				<a class="btn btn-primary btn-md mt-3" href="/campgrounds/new">Add new campground</a>
			</div>
		</div>
	</div>
	<div class="container mt-4">
		<div class="row d-flex" id="output">
			<%campgrounds.forEach(function(campground){%>
				<div class="campground col-sm-12 col-md-4 col-lg-3">
					<div class="card border-primary text-white my-3 text-center">
						<img class="card-img-top" src="<%=campground.image%>" class="img-fluid">
						<div class="card-body my-auto py-auto">
							<a class="h4" href="/campgrounds/<%=campground._id%>" class="btn btn-sm btn-primary"><%=campground.name%></a>
						</div>
					</div>
				</div>
			<%})%>
		</div>
	</div>
<%include ../partials/footer%>