img {
	max-height: 450px;
}
.navbar-light {
	background-color: #e9ecef;
}
.new {
	width: 35%;
	background-color: #e9ecef;
	border-radius: 3px;
}
hr {
	width: 70%;
	margin-top: .5rem;
	margin-bottom: .5rem; 
}
.darker {
	background-color: #e9e9e9;
}
.hr-hide :last-child > hr {
	display: none;
}
:focus {
	outline: 0;
}
.input-group {
	width: inherit;
}
.input-group-prepend > button {
	border-radius: .4rem !important;
}
.custom-file > .custom-file-label {
	border-radius: .4rem !important;
}