body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #eee;
	color: #444;
}
.bg-primary, .btn-primary {
	background-color: #348069 !important;
	border: #348069 !important;
}
img {
	max-height: 450px;
}
.new {
	display: grid;
	grid-template-rows: .5fr 2fr .5fr;
}
.new > .container:first-child {
	width: 40%;
	background-color: #e9ecef;
	border-radius: 3px;
}
.new > .card:first-child {
	grid-row: 2/3;
}
hr {
	width: 70%;
	margin-top: .5rem;
	margin-bottom: .5rem;
	color: #78c2ad;
}
.darker {
	background-color: #e9e9e9;
}
.hr-hide :last-child > hr {
	display: none;
}
:focus {
	outline: 0;
}
.input-group {
	width: inherit;
}
.input-group-prepend > button {
	border-radius: .4rem !important;
}
.custom-file > .custom-file-label {
	border-radius: .4rem !important;
}
.campground{
	display: flex;
	height: 255px;
}
.error-box {
	position: absolute;
	z-index: 1;
	right: 0;
	left: 0;
}
.error-box * {
	border: none;
}
.card {
	box-shadow: 1px 1px 5px 1px rgba(51,51,3,0.2);
}
.card-img-top {
	height: 60%;
}
.card-body {
	max-width: 100%;
}
a.h4:hover {
	color:#348069;
	text-decoration: none;
}
.navbar-toggler:focus {
	outline: none;
}
#header-background {
	color: #fff;
	background: #333;
	height: 375px;
	z-index: 0;
	width: 100%;
	position: relative;
	margin-top: -.5rem;
}
#header-background h1, #header-background p{
	color: #fff;
}
#header-background .header-content {
	z-index: 1;
	position: absolute;
}
#header-background .header-content p, #header-background .header-content h1 {
	text-shadow: 1px 1px 5px #333;
}
.bg-image {
	background: url(https://res.cloudinary.com/yelpcamp-thanaspulaj/image/upload/v1546976627/pexels-photo-699558.jpg);
	opacity: 0.5;
	position: absolute;
	background-repeat: no-repeat;
	background-size: 100vw;
	background-position: center;
	width: 100%;
	height: 100%;
	z-index: 0;
	border-bottom: 1px solid #348069;
}
.campground .card {
	box-shadow: 3px 4px 5px 0 rgba(0,0,0,0.16);
}
.comment, .campground-show {
	color: #444;
}
.campground .card:hover {
	box-shadow: 1px 2px 7px 1px rgba(51,51,3,0.4);
}
@media (max-width: 575.98px) {
	.jumbotron > .btn {
		margin-top: 0 !important;
	}
	.campground{
		height: 255px;
	}
	.card-img-top {
		height: 150px;
	}
	#side-info {
		display: none;
	}
	.new {
		display: inline-block;
	}
	.new > .container:first-child {
		width: 80%;
	}
	#comment\[body\]-label {
		font-size: 15.5px;
	}
	label[for=comment\[author\]] {
		text-align: left;
	}
}