img {
	max-height: 450px;
}
.navbar-light {
	background-color: #e9ecef;
}
.new {
	display: grid;
	grid-template-rows: .5fr 2fr .5fr;
}
.new > .container:first-child {
	width: 40%;
	background-color: #e9ecef;
	border-radius: 3px;
}
.new > .card:first-child {
	grid-row: 2/3;
}
hr {
	width: 70%;
	margin-top: .5rem;
	margin-bottom: .5rem; 
}
.darker {
	background-color: #e9e9e9;
}
.hr-hide :last-child > hr {
	display: none;
}
:focus {
	outline: 0;
}
.input-group {
	width: inherit;
}
.input-group-prepend > button {
	border-radius: .4rem !important;
}
.custom-file > .custom-file-label {
	border-radius: .4rem !important;
}
/* #output {
	height: 10vh;
} */
.campground{
	display: flex;
	height: 255px;
}
.card-img-top {
	height: 60%;
}
.card-body {
	max-width: 100%;
}
a.h4 {
	color:#78C2AD;
}
@media (max-width: 575.98px) {
	.jumbotron > .btn {
		margin-top: 0 !important;
	}
	.campground{
		height: 255px;
	}
	.card-img-top {
		height: 150px;
	}
	#side-info {
		display: none;
	}
	.new {
		display: inline-block;
	}
	.new > .container:first-child {
		width: 80%;
	}
}