<%include ../partials/header%>
	<div class="container mt-2 py-2 new">
		<div class="container">
			<h1 class="text-center">Add New Campgrounds</h1>
			<form action="/campgrounds" method="POST" class="form-group">
				<div class="form-group">
					<div class="row">
						<label for="campground[name]" class="pl-0 col-sm-3 col-form-label">Name:</label>
						<input class="col-sm-9 form-control" type="text" name="campground[name]" placeholder="Sandy Creek">
					</div>
					<div class="row mt-1">
						<label for="campground[image]" class="pl-0 col-sm-3 col-form-label">Image URL:</label>
						<input class="col-sm-9 form-control" type="text" name="campground[image]" placeholder="http://imgur.com/campground.jpg">
					</div>
					<div class="row mt-1">
						<label for="campground[description]" class="pl-0 col-sm-3 col-form-label">Description:</label>
						<textarea class="col-sm-9 form-control" name="campground[description]" placeholder="Your opinions..."></textarea>
					</div>
				</div>
				<button class="btn btn-block btn-primary" type="submit">Submit</button>
			</form>
			<a class="btn btn-outline-primary " href="/campgrounds">Go Back</a>
		</div>
	</div>
<%include ../partials/footer%>