<%include ../partials/header%>
	<div class="container mt-2 py-2 new">
		<div class="container card py-2">
			<div class="container">
				<h1 class="text-center">Register</h1>
				<form action="/register" method="POST" class="form-group">
					<div class="form-group">
						<div class="row">
							<label for="username" class="pl-0 col-sm-3 col-form-label">Name:</label>
							<input class="col-sm-9 form-control" type="text" name="username" placeholder="Username">
						</div>
						<div class="row mt-1">
							<label for="username" class="pl-0 col-sm-3 col-form-label">Admin Auth:</label>
							<input class="col-sm-9 form-control" type="password" name="adminAuth" placeholder="Admin Authentication Code">
						</div>
						<div class="row mt-1">
							<label for="password" class="pl-0 col-sm-3 col-form-label">Password:</label>
							<input class="col-sm-9 form-control" type="password" name="password" placeholder="Password">
						</div>
					</div>
					<button class="btn btn-block btn-primary" type="submit">Sign Up</button>
				</form>
				<a class="btn btn-outline-primary" id="back" href="/campgrounds">Go Back</a>
			</div>
		</div>
	</div>
<%include ../partials/footer%>