<%include ../partials/header%>
	<div class="container mt-2">
		<div class="jumbotron">
			<h1>Campgrounds</h1>
			<p>Popular campgrounds in the US</p>
			<p>
				<a class="btn btn-primary btn-large" href="/campgrounds/new">Add new campgrounds</a>
			</p>
			<p>
				<a class="btn btn-outline-primary btn-sm" href="/">Go Back</a>
			</p>
		</div>

		<div class="row d-flex flex-wrap">
			<%campgrounds.forEach(function(campground){%>
				<div class="col-sm-12 col-md-3">
					<div class="card my-3 text-center">
						<img class="card-img-top" src="<%=campground.image%>" class="img-fluid">
						<hr class="mx-auto">
						<div class="card-body ">
							<h4 class="card-title"><%=campground.name%></h4>
							<a class="card-text btn btn-sm btn-outline-info" href="/campgrounds/<%=campground._id%>" class="btn btn-sm btn-primary">More Info</a>
						</div>
					</div>
				</div>
			<%})%>
		</div>
	</div>
<%include ../partials/footer%>